body {
  margin: 0;
}

$cell-size: 100px;
$col-count: 7;
$row-count: 4;
$month-length: 28;
$day: 4;

@function getShift($base, $size, $index) {
    @return $base + ($index - 1) * $size;
}

@mixin square($size) {
    width: $size;
    height: $size;
    
}

.calendar {
    display: flex;
    margin: auto;
    position: relative;
    width: $col-count * $cell-size + 6px;
    border: 2px solid transparent;

    &__field {
        display: flex;
        flex-wrap: wrap;
        gap: 1px;
        
    }

    &__cell {
        box-sizing: border-box;
        @include square($cell-size);
        display: none;
      }

      &__cell:hover {
        background-color: pink;
      }  
    }

@for $index from 1 through $month-length {
  .calendar__cell--count--#{$index}::before {
    content: "#{$index}";
  }
}

@for $index from 1 through $month-length {
  .calendar__cell--count--#{$index} {
    border: 1px solid black;
    text-align: center;
    line-height: $cell-size;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: black;
    background-color: #eee;
    display: inline;
  }
}



$start-day:
  'mon' 0,
  'tue' 1,
  'wed' 2,
  'thu' 3,
  'fri' 4,
  'sat' 5,
  'sun' 6;
  
@each $name, $number in $start-day{
  .calendar__cell--start-day--#{$name} {
    margin-left: $cell-size*$number+$number*1px;
  }
  
}
